body {
  /* Remove default 8px margin */
  margin: 0;
  /* 
    Prevent font scaling in landscape while allowing user zoom.
    Otherwise, font will abruptly increase size in landscape on iOS.
  */
  -webkit-text-size-adjust: 100%; 
}


/* App Layout */

.app {
  height: 100vh;
  /* 
    Fix Safari 100vh height overflow problem
    Maybe better to use JS innerheight for better solution
  */
  height: -webkit-fill-available;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app header {
  background-color: gold;
  /*  
    Better to user padding than set height as this somehow get distorted 
    on web page. Looks okay on phone but not on desktop.
    Top header and footer padding of 0.75rem, plus additional 2.5rem padding 
    bottom on standalone replicate iOS mail app layout.
  */  
  padding: 0.75rem;
}

.app main {
  /* 
    This must be here or middle area won't expand to take up space, 
    leaving the footer hanging high up
  */
  flex-grow: 1;
  /* Required to prevent growing beyong 100vh */
  overflow-y: scroll;
  /* Put padding around content. iOS default is 16px */
  padding: 1rem;
}

.app footer {
  background-color: gold;
  padding: 0.75rem;
}


/* Shadow */

.shadow {
  box-shadow: 
    0 1px 3px 0 rgb(0 0 0 / 0.1), 
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-md {
  box-shadow: 
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
  box-shadow: 
  0 10px 15px -3px rgb(0 0 0 / 0.1), 
  0 4px 6px -4px rgb(0 0 0 / 0.1);
}


/* iOS related */
@media (display-mode: standalone) {  
  /* Create space for iOS app switcher  */
  .app footer {
    padding-bottom: calc(0.75rem + 2.5rem);
  }
}