/* 
  Nav Icons 
*/

.nav-icon {
  /* Divide by number of icons */
  flex-basis: 25%;
  
  /*  Remove Safari gray bg when clicking link  */
  -webkit-tap-highlight-color: transparent;
  
  /* The nav item is itself container for svg and text */
  /* Set to flex so can switch between row and column */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

a.nav-icon {
  /* Remove anchor link default styling */
  text-decoration: none;
  color: inherit;
}

a.nav-icon:visited {
  all: unset;
}

.nav-icon:hover {
  /* 007aff is iOS blue */
  color: var(--ios-blue);
}

.nav-icon:active {
  color: var(--ios-blue);
}

.nav-icon svg {
  height: 28px;
  width: 28px;
  margin-bottom: 0.125rem;
}

.nav-icon span {
  font-size: 0.75rem;
  line-height: 0.5rem;
}


/* 
  Bottom Nav Bar
*/

.bottom-nav-bar {
  display: flex;
  justify-content: space-evenly;
  /* 576px. Prevent it from stretching to wide */
  max-width: 32rem; 
  margin: auto;
  /* Color for the icons and text */
  color: var(--ios-gray-1);
}


/* 
  Top Nav Bar
*/

.top-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.back-btn {
  display: flex;
  align-items: center;
  color: var(--ios-blue);
  margin-left: 0.125rem;
  cursor: pointer;
}

.back-btn svg {
  height: 1.25rem;
  width: 1.25rem;
}

.top-nav-bar-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
}